<div
  class="
    w-100
    current-detail
    d-flex
    flex-column
    justify-content-center
    align-items-center
    pb-5
  "
>
  <div
    class="pl-3 pt-3 pb-1 d-flex w-100 justify-content-center section-header"
  >
    <strong class="text-center pt-5"> {{ 'insurance.detail.welcome' | translate }} <br />{{ 'insurance.detail.selectfolder' | translate }} </strong>
  </div>
  <div
    class="
      d-none d-lg-flex
      align-self-center
      justify-content-center
      mt-auto
      mb-auto
    "
  >
    <img
      src="../assets/folder-content-no-select.svg"
      alt="no folder selected"
      class="img-responsive align-self-center mx-auto pb-3"
      style="width:50%;"
    />
  </div>
</div>
