<div class="w-100 current-master-nav">
  <div
    class="
      px-2
      pt-3
      pb-xl-3 pb-lg-0 pb-md-0 pb-3
      d-flex
      flex-wrap
      w-100
      bg-white
      master-nav-title
      justify-content-center
      align-items-center
    "
  >
    <strong class="section-header">
      {{ 'insurance.nav.title' | translate }} &nbsp;&nbsp;
    </strong>
    
    <div class="addButton ml-auto d-flex justify-content-center align-self-center" (click)=" onButtonSelected()">
      <i class="material-icons ml-auto p-4 align-self-center">add</i>
    </div>
        
  </div>

  <div class="container pb-5 w-100">
    <div class="row p-1 ">
      <div class="w-100 d-flex flex-column">
        <app-folder
          *ngFor="let folder of folders; last as isLast"
          [folder]="folder"
          (selectEvent)="selectEventListener($event)"
          [ngClass]="{ 'last-child': isLast }"
        ></app-folder>
      </div>
    </div>
  </div>
</div>
