<div class="min-vh-100 desktop-nav d-md-flex flex-column pt-5 d-none">
  <div class="d-flex flex-column justify-content-center pt-3 nav-items">
    <a
      routerLink="/insurance"
      routerLinkActive="active"
      class="d-flex flex-column justify-content-center align-items-center"
    >
      <i class="material-icons align-self-center">folder_open</i>
      {{ 'nav.insurance' | translate }}
    </a>
    <a
      [routerLink]="['/inbox']"
      routerLinkActive="active"
      class="d-flex flex-column justify-content-center align-items-center pt-3"
    >
      <i class="material-icons align-self-center">message</i>
      {{ 'nav.inbox' | translate }}
    </a>
    <a
      [routerLink]="['/broker']"
      routerLinkActive="active"
      class="d-flex flex-column justify-content-center align-items-center pt-3"
    >
      <i class="material-icons align-self-center">person_pin</i>
      {{ 'nav.broker' | translate }}
    </a>
    <a
      [routerLink]="['/profile']"
      routerLinkActive="active"
      class="d-flex flex-column justify-content-center align-items-center pt-3"
    >
      <i class="material-icons align-self-center">person_outline</i>
      {{ 'nav.profile' | translate }}
    </a>
    <a
      [routerLink]="['/settings']"
      routerLinkActive="active"
      class="d-flex flex-column justify-content-center align-items-center pt-3"
    >
      <i class="material-icons align-self-center">settings</i>
      {{ 'nav.settings' | translate }}
    </a>
  </div>

  <!-- logout -->
  <div class="d-flex flex-column justify-content-center pt-3 nav-items mb-5">
    <a
      class="d-flex flex-column justify-content-center align-items-center pb-3"
    >
      <i class="material-icons align-self-center">logout</i>
      {{ 'nav.signout' | translate }}
    </a>
  </div>
</div>
