<div class="broker-main-container col-11 mx-auto my-2 ">
  <div class="banner-section d-flex align-items-end w-100">

    <div class="broker-image rounded-circle">
      <img class="img img-responsive" style="width:168px;" src="assets/logo.svg" alt="broker profile image" />
    </div>
  </div>
  <div class="w-100 d-flex flex-wrap detail-section ">

    <div class="col-lg-6 col-xs-12 d-flex flex-column p-lg-5 p-3 detail-section-1">
      <div class="d-flex pl-4">
        <span class="section-detail-text ml-3"> Mr. Broker Name</span>
      </div>
      <div class="d-flex">
        <i class="material-icons mr-3">call</i>
        <span class="section-detail-text" 
          matTooltip="Click to make Phone Call"
          matTooltipPosition="right">
          <span itemprop="telephone">
            <a href="tel:+123456890" class="tel">
              +234567890
            </a>
          </span>
        </span>
      </div>
      <div class="d-flex flex">
        <i class="material-icons mr-3">email</i>
        <span class="section-detail-text" 
          matTooltip="Click to send Email"
          matTooltipPosition="right">
            <a href="mailto:brokeremail@company.com" class="email">
              brokeremail@company.com
            </a>
        </span>
      </div>
      <div class="d-flex">
        <i class="material-icons mr-3">location_pin</i>
        <span class="section-detail-text"> Friedrich-Ebert-Damm 143
        D - 22047 Hamburg</span>
      </div>
    </div>


    <div class="col-lg-6 col-xs-12 detail-section-2 p-lg-5 p-2 ">
      <div class="d-flex flex-column section-detail-text ml-lg-0 ml-5">
      {{ 'broker.instruction.title' | translate }}
        <a [routerLink]="['/inbox']" > <button class="btn btn-primary "> {{ 'broker.instruction.button' | translate }}</button></a> 
      </div>
      <div class="d-flex flex-column section-detail-text mt-4 ml-lg-0 ml-5">
      {{ 'broker.instruction2.title' | translate }}
        <span > 
        <a href="https://calendar.google.com/" target="_blank"  rel="noopener noreferrer" class="calendar "> {{ 'broker.instruction2.button' | translate }}</a></span>
      </div>
    </div>
  </div>
</div>