<div class="w-100 current-detail d-flex flex-column">
  <div class="pl-3 pt-3 pb-3 d-flex w-100 master-title">
    <strong class="section-header">Chat</strong>
  </div>
  <div class="messages">
  
  </div>
</div>

<div class="mt-auto w-100 chat-input-container bg-white py-1">
  <div class="row m-2 p-2 bg-white" >
    <div class="d-flex w-100 ">
      <div class="material-textfield">
        <input placeholder=" " type="text" [(ngModel)]="message" />
        <label>Type a message</label>
      </div>
      <div class="sendButton ml-2 d-flex justify-content-center align-self-center">
        <i class="material-icons ml-auto p-4 align-self-center">send</i>
      </div>
    </div>
  </div>
</div>