<div class="d-flex flex-column justify-content-around">
  <div class="text-center section-header ">
  {{ 'insurance.detail.modaltitle' | translate }}
  </div>

  <hr style="">

  <div class=" my-1">
  {{ 'insurance.detail.current' | translate }}
  </div>
  <div class="section-header my-1 mx-3">
    {{currentName}} 
  </div>
  
  <div class=" mt-2">
  {{ 'insurance.detail.newfolder' | translate }}
  </div>
  
  <div class="w-100 chat-input-container bg-white py-1 mt-3">
    <div class="w-100 bg-white" >
      <div class="d-flex w-100 ">
        <div class="material-textfield">
          <input placeholder=" " type="text" [(ngModel)]="newFolderName" />
        </div>
      </div>
    </div>
  </div>
  <button class="w-100 btn btn-save"> SAVE </button>

</div>