<div class="
    current-detail
    d-flex
    flex-column
    pb-5
" >
  <div class="p-2 d-flex w-100 master-title">

    <strong class="section-header">ADD NEW CONTRACT</strong>
   
  </div>
  <div class="detail-container-wrapper d-flex flex-column pb-3 bg-white ">

    <div class=" m-3 d-flex flex-wrap detail-container">
      <div class="d-flex col-12 mb-2">
        <div class="col-lg-6 d-flex flex-column align-self-end p-2 mr-4">
          <input type="text" required>
          <label>Client Name</label>
        </div>
        <div class="col-lg-2 col-12 d-flex flex-column flex-column-reverse p-2 date-div">
          <input class=" " type='date' (click)="onStartDateClicked()" #startdate >
          <div class="datelabel" #startDateLabel>Start Date</div>
        
        </div>
        <div class="col-lg-2 col-12 d-flex flex-column flex-column-reverse p-2 date-div">
            <input class=" " type='date' (click)="onEndDateClicked()" #enddate>
            <div class="datelabel" #endDateLabel>End Date</div>
                       
        </div>
      </div>

      <div class="col-lg-8 d-flex flex-column p-2 ml-3 mb-2">
        <input type="text" required>
        <span class="highlight"></span>
        
        <label>Company Name</label>
      </div>

      <div class="col-lg-8 d-flex flex-column p-2 ml-3 mb-2">
          <input type="text" required>
          <span class="highlight"></span>
          
          <label>Company Branch</label>
      </div>
      <div class="col-lg-8 d-flex flex-column p-2 ml-3 mb-2">
        <input type="text" required>
        <span class="highlight"></span>
        
        <label>Insurance Policy</label>
      </div>
      <div class="col-lg-6 d-flex flex-column p-2 ml-3 mb-2">
        <input type="text" required>
        <span class="highlight"></span>
       
        <label>Payment Method</label>
      </div>
      <div class="col-lg-2 col-xs-12 d-flex flex-column p-2 mb-2">
        <input type="text" required>
        <span class="highlight"></span>
       
        <label>Price</label>
      </div>
    </div>
  
    <hr class="m-3" id="docu-hr" />
    <div class="d-flex flex-wrap p-3">
      
    </div>
  </div>
</div>
