<div class="h-100 col-xs-12 d-flex">
  <div class=" col-xs-12 col-md-4 col-lg-3" [ngClass]="{ 'list-container': mobileToggle }">
    <!-- selected nav component  -->
    <inbox-master-nav
      (navSelect)="onNavSelected($event)"
      (reset)="onReset($event)"
    ></inbox-master-nav>
  </div>

  <div
    class="justify-content-center col-xs-12 col-md-8 col-lg-9 pl-2 "
    *ngIf = "showDefault"
    [ngClass]="{ 'detail-container-shown': !mobileToggle }">
      <app-chat ></app-chat>
  </div>
  <div
    class="justify-content-center col-xs-12 col-md-8 col-lg-9 pl-2 "
    *ngIf = "!showDefault"
    [ngClass]="{ 'detail-container-shown': !mobileToggle }"
  >
    <router-outlet ></router-outlet>

  </div>
</div>
